/** whole page **/

body {
  margin: 0;
}
  
h2 {
  font-family: Teko;
  font-size: 20px;
  margin: 0;
  color: white;
}
  
header a, footer a {
  text-decoration: none;
  color: inherit;
}
  
/** header **/
  
header {
  height: 80px;
  width: 100%;
  background: #3e1b02;
  position: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  z-index: 1;
}
  
nav {
  width: 100%;
  height: 80px;
}
  
.a2 {
  width: 50px;
  height: 75px;
  float: left;
  display: flex;
  justify-content: center;
}
  
.logo {
  width: 50px;
  height: 75px;
  float: left;
  display: flex;
  justify-content: center;
  list-style: none;
  line-height: 80px;
  padding-left: 20px;
}
  
ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
  height: 80px;
  align-items: center;
  margin-left: 15%;
}
  
ul h2 {
  font-size: 2vw;
}
  
li {
  line-height: 80px;
  width: 11vw;
  border: 0 20px;
  overflow-wrap: break-word;
}

.fa-cart-shopping {
  font-size: 2vw !important;
  color: white;
}

/** main **/
  
#slideshow {
  display: flex;
  height: 300px;
  justify-content: center;
}

#slideshow img {
  width:700px;
  height:550px;
}
  
section {
  padding: 100px 10px;
  height: 800px;
}

#menu {
  padding: 0;
  height: 4vw;
}

.selector {
  padding: 1vw;
  height: 4vw;
}

#selector {
  justify-content: flex-start;
  margin: 0vw 34vw;
  align-items: flex-start;
  height: 2vw;
}
  
#selector div {
  margin-left: 25px;
}

#selector a {
  color: white;
}

#selector h2 {
  font-size: 25px;
}

#selector h3 {
  font-size: 17px;
  text-align: left;
  padding-left: 15px;
}

#selector nav {
  height: 50px;
  width: 100%;
  overflow: hidden;
  background-color: #333;
}

#selector ul {
  justify-content: flex-start;
  height: 50px;
  align-items: center;
}

#selector li {
  border-right: 1px solid #bbb;
  padding: 0px 10px;
}

#piz:not(.active), #mex:not(.active), #sid:not(.active), #des:not(.active), #dri:not(.active), #piz .notActive, #mex .notActive, #sid .notActive, #des .notActive, #dri .notActive {
  background-color: #333 !important;
}

#pizza:not(.active), #mexican:not(.active), #sides:not(.active), #desserts:not(.active), #drinks:not(.active), #pizza .notActive, #mexican .notActive, #sides .notActive, #desserts .notActive, #drinks .notActive {
  display: none !important;
}

#piz.active, #mex.active, #sid.active, #des.active, #dri.active {
  background-color: #a8baa8;
}

#pizza .active, #mexican .active, #sides .active, #desserts .active, #drinks .active  {
  display: block;
}

#pizza, #mexican, #sides, #desserts, #drinks {
  height: 850px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}

#mexican, #sides, #desserts, #drinks {
  height: 530px;
}

.cont-p, .cont-m, .cont-s, .cont-de, .cont-dr {
  text-align: center;
  height: 17vw;
}

.cont-p img, .cont-m img, .cont-s img, .cont-de img, .cont-dr img {
  height: 14vw;
  width: 21vw;
}

.cont-p h2, .cont-m h2, .cont-s h2, .cont-de h2, .cont-dr h2 {
  width: 19vw;
  color: black;
}

.fa-plus {
  font-size: 2vw !important;
}

.add-cart {
  display: flex;
  height: 2vw;
}

.view-more {
  display: flex;
  background: grey;
  width: 15vw;
  height: 3vw;
  flex-direction: column;
  align-items: center;
}

/** main-basket **/
.basket {
  height: 500px;
}

.bask {
  background-color: gainsboro;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  height: 20vw;
  width: 97vw;
}

.checkout {
  display: flex;
  height: 2vw;
  width: 6vw;
  background-color: lightgray;
  color: #bbb;
  position: absolute;
  bottom: 200;
  right: 10;
  align-items: center;
  justify-content: center;
}

/** main-aboout **/
.about {
  height: 600px;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about img {
  width: 450px;
  height: 350px;
}

/** main-contact **/
.contact {
  height: 1200px;
}

.contact .container {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.contact .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: rgb(182, 45, 0);
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one, .content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #8c5c09;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input, .right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
  margin-bottom: 0;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #8c5c09;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #f09929;
}

.map {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/** main-register **/
.register .container {
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, orange, red);
}

.content form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}

form .user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

form .input-box span.details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus, .user-details .input-box input:valid {
  border-color: orange;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .category {
  display: flex;
  width: 80%;
  margin: 14px 0 ;
  justify-content: space-between;
}

form .category label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

form .category label .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

#dot-1:checked ~ .category label .one,  #dot-2:checked ~ .category label .two, #dot-3:checked ~ .category label .three {
  background: orange;
  border-color: lightgray;
}

form input[type="radio"] {
  display: none;
}

form .button {
  height: 45px;
  margin: 35px 0
}

form .button input {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(135deg, orange, red);
}

form .button input:hover {
  transform: scale(0.99);
  background: linear-gradient(-135deg, orange, red);
}

/** footer **/
  
footer {
  background: #2b2b2b;
  color: white;
  text-align: center;
  font-size: 24px;
  width: 100%;
}

.footer-top {
  padding-top: 10px;
}

.footer-top a {
  font-size: 40px;
}

footer span {
  height: 45px;
}

footer h5 {
  font-size: 15px;
  margin: 20px 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer span {
  margin: 10px 0px;
  padding: 0 10px;
}

footer span:hover {
  color: aqua;
  cursor: pointer;
  transition: .5s;
}

.fab, .fas {
  font-size: 2vw;
}

hr {
  width: 19vw;
  border-top: 1px solid rgb(255 255 255);
}

.f-i1 a {
  padding: 10px;
}

.f-i2 {
  padding: 0px;
}

.f-c2 {
  display: flex;
  height: 40px;
  padding-left: 15px;
  justify-content: space-between;
}

.l1 {
  margin: 0;
}

.toggle1-container {
  height: 9vw;
  width: 11vw;
  margin: auto;
}

.dm {
  width: 100px;
}

.track {
  height: 35px;
  width: 100px;
  background: gray;
  border-radius: 20px;
}

.slider {
  height: 30px;
  width: 30px;
  background: red;
  position: relative;
  top: -32.5px;
  border-radius: 50%;
  left: 5px;
  transition: .9s
}

#toggle1, #toggle2 {
  display: none;
}

#toggle1:checked + label .slider {
  left: 65px;
  background: limegreen;
}

.contrast h2, .contrast h3, .contrast h4, .contrast h5, .contrast h6 {
  color: white !important;
}

.contrast section {
  background: #474c4d;
}
  
/** Media Queries **/
  
@media screen and (max-width:768px) {
  ul h2 {
    font-size: 3vw;
  }
  
  li {
    line-height: 60px;
    width: 13vw;
    border: 0 20px;
    overflow-wrap: break-word;
  }

  nav {
    height: 60px;
  }

  header {
    height: 60px;
  }

  #header img {
    height: 60px;
  }

  .logo {
    height: 60px;
  }

  .a2 {
    height: 60px;
  }

  ul {
    height: 60px;
    margin-left: 7%;
  }

  .fa-cart-shopping {
    font-size: 3vw !important;
  }

  section {
    padding: 100px 10px;
    height: 550px;
  }

  #slideshow div {
    height: 350px;
  }

  #slideshow img {
    width: 300px;
    height: 350px;
  }

  #menu {
    height: 6vw;
  }

  .selector {
    height: 5vw;
  }

  #selector {
    height: 4vw;
    margin: 0vw 18vw;
  }

  #selector h2 {
    font-size: 9px;
  }

  #selector li {
    width: 17vw;
  }

  #pizza, #mexican, #sides, #desserts, #drinks {
    height: 775px;
    padding: 50px 10px;
  }

  #mexican, #sides, #desserts, #drinks {
    height: 460px;
  }

  .cont-p, .cont-m, .cont-s, .cont-de, .cont-dr {
    height: 35vw;
  }

  .cont-p img, .cont-m img, .cont-s img, .cont-de img, .cont-dr img {
    height: 25vw;
    width: 35vw;
  }

  .cont-p h2, .cont-m h2, .cont-s h2, .cont-de h2, .cont-dr h2 {
    width: 30vw;
    font-size: 4vw;
  }

  .add-cart {
    height: 6vw;
  }

  .view-more {
    height: 12vw;
    width: 35vw;
  }

  .fa-plus {
    font-size: 5vw !important;
  }

  .about {
    height: 750px;
  }
  
  .about img {
    width: 380px;
    height: 320px;
  }

  .contact .container {
    border-radius: 6px;
    padding: 15px 15px 15px 30px;
  }

  .container .content .left-side {
    width: 25%;
    margin-top: 15px;
  }

  .content .left-side .details i {
    font-size: 20px;
  }

  .phone-details {
    width: 15vw;
  }

  .content .left-side .details .topic {
    font-size: 11px;
  }

  .content .left-side .details .text-one, .content .left-side .details .text-two {
    font-size: 8px;
  }

  .container .content .right-side {
    width: 90%;
    margin-left: 50px;
  }

  .content .right-side .topic-text {
    font-size: 13px;
  }

  .right-side p {
    font-size: 10px;
  }

  .right-side .input-box {
    height: 45px;
  }

  .right-side .input-box input, .right-side .input-box textarea {
    font-size: 13px;
  }

  .bask {
    height: 85vw;
    width: 94vw;
  }

  .checkout {
    font-size: 4vw;
    height: 7vw;
    width: 20vw;
    bottom: 250px;
    right: 10;
}

  .register {
    height: 750px;
  }

  form .user-details .input-box {
    width: calc(100% / 2 - 5px);
  }

  .user-details .input-box input {
    font-size: 11px;
  }

  form .category {
    width: 100%;
  }

  form .category label .dot {
    margin-right: 5px;
  }

  .fab, .fas {
    font-size: 7vw;
  }

  hr {
    width: 70vw;
  }

  p {
    font-size: 19px;
  }

  .toggle1-container {
    height: 24vw;
    width: 30vw;
  }

  .l1 {
    height: 23vw;
  }

  .f-c2 {
    height: 7vw;
  }
}